.main-body{
background-image: url("./wp2555725-full-hd-wallpapers.jpg") ;
}

.navbar{
    display: inline-block;
    border-bottom: 15px;
}
.navlist > li, 
.navlist,
.logo,
.navbar{
    display: inline-block;
}
.navlist{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-left: 800px;
    margin-top: 15px;
    text-decoration: none;
}
.navlist > li{
    text-decoration: none;
    margin: 5px;
    border: 20px;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    
}
.navlist > li :hover,
.navlist > li :active{
    color: white;
    text-decoration: none;
}
.navlist > li > a {
    text-decoration: none;
    color: black; 
}
.logo{
    text-align: left;
    text-transform: uppercase;
    color: #49a6e9;
    font-weight: bolder;
    font-size: 25px;
    border: 20px;
    margin-top: 15px;
    margin-left: 15rem;
}
.first-parent{
    position: center;
    float: center;
    margin-top: 150px;
    margin-left: 15rem;
}
.intro{
    font-weight: bold;
    border-left: 40px;
    float: center;
    color: darkkhaki;
    
}
.name{
    float: center;
    font-weight: bolder;
    color: #49a6e9;
    font-size: 30px;
}
.work{
    color: white;
    font-size: medium;
    float: center;
}
span{
    color: white;
}
.second-parent {
    display: flex;
    flex-direction: row;
} 
.first-child img {
    padding: 100px;
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 3%;
    position: relative;
}
.first-txt {
    padding-left: 90px;
    position: absolute;
    top: 50rem;
    left: 20px;
    
}
.second-txt {
    padding-left: 100px;
        position: absolute;
        top: 50rem;
        left: 150px;
}
.second-child {
    padding-top: 190px;
}
.converter{
    background-color: hotpink;
    padding: 20px 5px;  
}
.dropbtn {
    background-color: transparent;
    color: #49a6e9;
    padding: 16px;
    font-size: 20px;
    border: none;
    text-transform: uppercase;
} 
.dropdown {  
    display: inline-block;  
    position: relative  
}  
.dropdown-content {  
    position: absolute;  
    background-color: lightgrey;  
    min-width: 200px;  
    display: none;  
    z-index: 1;  
}  
.dropdown-content a {  
    color: black;  
    padding: 12px 16px;  
    text-decoration: none;  
    display: block;  
}  
.dropdown-content a:hover {  
    background-color: #49a6e9;  
}  
.dropdown:hover .dropdown-content {  
    display: block;  
}  
.dropdown:hover .dropbtn {  
    background-color: transparent; 
    color: white;
}  
